{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Patient</h2>
<form method="post">
    <div class="field">
        <label for="id">ID:</label>
        <div class="control">
            <input type="number" id="id" name="id" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="name">Name:</label>
        <div class="control">
            <input type="text" id="name" name="name" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="lastname">Lastname:</label>
        <div class="control">
            <input type="text" id="lastname" name="lastname" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="ci">Ci:</label>
        <div class="control">
            <input type="text" id="ci" name="ci" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="birth_day">Birth_day:</label>
        <div class="control">
            <input type="text" id="birth_day" name="birth_day" required class="input">
        </div>
    </div>
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}